<%= render 'admin/shared/navbar' %>
<div class="parent">
  <div class="top-picture-and-discription">
    <img class="top-picture", src="/assets/licensed-image.jpeg"></img>
    <p class="top-discription">ようこそ、ながのCAKEへ！</p>
  </div>
  <h2 class="top-new-items-label">新着商品</h2>
  <div>
    <img class="top-new-items-picture", src="/assets/no_image.jpg"></img>
    <p>商品名</p>
    <p>¥0,000</p>
  </div>
  <%= link_to "全ての商品を見る >", items_path, class: 'top-link-to-all-items' %>
</div>