/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
.inner {
 width: 600px;
 height: auto;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
 text-align: center;
}

.parent {
 border: 1px solid #aaa;
 height: 400px;
 width: auto;
 text-align: center;
}

.admin-login-label {
 background-color: #C0C0C0;
 height: 32px;
 width: 200px;
 font-size: 26px;
 text-align: center;
 padding: 3px 3px;
}

.customer-login-label {
 background-color: #C0C0C0;
 height: 32px;
 width: 160px;
 font-size: 26px;
 text-align: center;
 padding: 3px 3px;
}

.login-label {
 background-color: #C0C0C0;
 display: inline-block;
}

.field-email {
 margin-top: 10px;
}

.field-password {
 margin-top: 10px;
}

.actions {
 margin-top: 30px;
}

.input-field {
 width: 550px;
 height: auto;
 margin-left: auto;
 margin-right: auto;
}

