/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
.inner {
 width: 600px;
 height: auto;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
 text-align: center;
}

.parent {
 height: auto;
 width: auto;
 text-align: center;
}




// customer-login-page css

.admin-login-label {
 background-color: #f0f0f0;
 height: 32px;
 width: 200px;
 font-size: 26px;
 text-align: center;
 padding: 3px 3px;
}

.customer-login-label {
 background-color: #f0f0f0;
 height: 32px;
 width: 160px;
 font-size: 26px;
 text-align: center;
 padding: 3px 3px;
}

.login-label-a {
 margin-right: 310px;
 background-color: #f0f0f0;
 display: inline-block;
 width: 300px;
}

.login-label-b {
 margin-top: 60px;
 margin-right: 340px;
 margin-bottom: 20px;
 background-color: #f0f0f0;
 display: inline-block;
 width: 270px;
}

.field-email {
 margin-top: 20px;
}

.field-email-label {
 margin-right: 30px;
}

.field-password {
 margin-top: 20px;
}

.field-password-label {
 margin-right: 60px;
}

.actions {
 margin-top: 50px;
}

.input-field {
 width: 550px;
 height: auto;
 margin-left: auto;
 margin-right: auto;
}



// customer-registration-page css

.registration-label-a {
 background-color: #f0f0f0;
 text-align: center;
 width: 190px;
 margin-left: 60px;
 margin-top: 40px;
 margin-bottom: 60px;
}

.registration-label-b {
 background-color: #f0f0f0;
 text-align: center;
 width: 240px;
 margin-left: 60px;
 margin-top: 30px;
 margin-bottom: 30px;
}

.registration-inner {
 width: 900px;
 height: auto;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
 text-align: left;
}

.field-registration {
 margin-bottom: 10px;
}

.label-registration-name {
 margin-right: 165px;
}

.registration-first-name-label {
 margin-right: 20px;
}

.registration-first-name-text_field {
 margin-right: 30px;
}

.label-registration-last-name {
 margin-right: 17px;
}

.label-registration-name_kana {
 margin-right: 133px;
}

.registration-first-name-kana-label {
 margin-right: 5px;
}

.label-registration-email {
 margin-right: 140px;
}

.label-registration-postal_code {
 margin-right: 78px;
}

.label-registration-address {
 margin-right: 217px;
}

.label-registration-telephone_number {
 margin-right: 78px;
}

.registration-password-text_field {
 margin-left: 80px;
}

.label-registration-password_confirmation {
 margin-right: 110px;
}

.registration-actions {
 margin-top: 30px;
 margin-left: 253px;
}

.link-customer_session_path {
 margin-left: 120px;
}

// customer-about-page css

.label-about {
 margin-top: 30px;
 margin-bottom: 30px;
}

.about-picture {
 width: 60%;
 height: auto;
}


// customer-top-page css

.top-picture-and-discription {
 position: relative;
 width: 600px;
 height: 400px;
}

.top-picture {
 position: absolute;
 top: 0;
 left: 0;
 width: 600px;
 height: auto;
}

.top-discription {
 position: absolute;
 top: 0;
 left: 0;
}

.top-new-items-label {
 
}

.top-link-to-all-items {
 
}